*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(34, 80, 232);
    color: rgb(215, 205, 205);
}
img{
    width: 15px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 10vh;
}

main{
    display: flex;
    border: 1px solid;
    height: 85vh;
}
section.intro
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    
}
section.details{
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);  
}
.intro h3, .info{
    font-weight: bold;
    padding-bottom: 2%;
}
.details>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-left: 1px solid;
}
.details div.intro{
    display: flex;
    justify-content: space-between;
}
.box1, .box2{
    border-bottom: 1px solid;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    height: 5vh;
}

/* make it responsive, if the screen width is 600px or less */
@media screen and (max-width: 600px) {
    main{
        flex-direction: column;
    }
    section.details{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .details .intro{
        padding-bottom: 10%;
    }
    .details .box1, .box4{
        border-top: 1px solid;
    }
    .details >div{
        border-right: 1px solid;
    }
    footer{
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
}